<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>Dojos</title>
</head>
<body class="bg-dark text-white d-flex justify-content-around">
    <div>
        <p class="display-1 text-center">All Dojos</p>
        <ul class="list-group">
            {% for dojo in dojos: %}
                <li class="list-group-item list-group-item-info">
                    <a href="/dojo_show/{{dojo.id}}" class="text-secondary">{{ dojo.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p class="display-1  text-center">New Dojo</p>
        <form action="/add_dojo" method="post">
            <label>
                <input type="text" name="new_dojo">
            </label>
            <button class="btn bg-secondary text-info">Create</button>
        </form>
        <a href="/new_ninja" class="btn btn-link bg-secondary text-info">Add a Ninja!</a>
    </div>
</body>
</html>